{% extends "base.html.j2" %}

{% block titulo %}ENFERMEDADES - GENETICAPP{% endblock %}

{% block css_secundario %}
{{ super() }}
{# CSS local del plano - editable/descartable #}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/enfermedades.css') }}">
{% endblock %}

{% block contenido_principal %}
{#
   TEMPLATE BASE DEL PLANO: ENFERMEDADES.
   Este HTML es minimal y usa clases utilitarias genericas.
   Puede reemplazar todo el contenido de este bloque libremente.
#}
<article class="contenedor espacio-6">
    {% block contenido_plano required %}{% endblock %}
</article>
{% endblock contenido_principal %}

{% block js_secundario %}
{{ super() }}
{% endblock %}
